.header_page {
  padding: 0 30px;
  display: block;
  position: fixed;
  width: 100%;
  transition: top 0.5s linear;
  background-color: #fff;
  .nav_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: bottom 0.5s linear;
    .navbar_collapse {
      .navbar_nav {
        display: flex;
        list-style: none;
      }
      .item {
        margin-left: 30px;
        font-size: 0.9em;
        position: relative;
        &:hover {
          color: #2196f3;
          a {
            border-bottom: 1px solid;
          }
        }
      }
    }
  }
  .logo {
    h1 {
      font-size: 2em;
      font-family: fangsong;
    }
  }
}
