.header_page {
  padding: 20px;
  display: block;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  .nav_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: bottom 0.5s linear;
    .navbar_collapse {
      .navbar_nav {
        display: flex;
        list-style: none;
      }
      .item {
        margin-left: 30px;

        position: relative;
        a {
          color: #000;
          font-size: 0.9em;
        }
        &:hover {
          a {
            border-bottom: 1px solid;
            color: #2196f3;
          }
        }
      }
    }
  }
  .logo {
    h1 {
      font-size: 2em;
      font-family: fangsong;
      font-weight: 600;
    }
  }
  .nav_mb {
    display: none;
  }
}

//responsive
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* CSS */
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .navbar_collapse {
    display: none;
  }
  .nav_mb {
    display: block !important;
  }
  .nav_container {
    align-items: flex-start !important;
    justify-content: space-between !important;
  }
  .navbar_nav {
    list-style: none;
    padding: 0;
    .item {
      font-size: 1.2em;
    }
  }
}
