.header_page {
  padding: 20px;
  display: block;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  .nav_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: bottom 0.5s linear;
    .navbar_collapse {
      .navbar_nav {
        display: flex;
        list-style: none;
      }
      .item {
        margin-left: 30px;

        position: relative;
        &:hover {
          color: #2196f3;
          a {
            border-bottom: 1px solid;
          }
        }
        a {
          color: #000;
          font-size: 0.9em;
        }
      }
    }
  }
  .logo {
    h1 {
      font-size: 2em;
      font-family: fangsong;
      font-weight: 600;
    }
  }
}
