#profile {
  padding: 40px 20px;
  h1 {
    text-align: center;
    font-size: 3em;
    margin: 0;
    font-weight: 700;
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .line_bottom {
    width: 12px;
    height: 12px;
    border: 1px solid #2196f3;
    border-radius: 50%;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 60px;
      left: -70px;
      bottom: 5px;
      background: #2196f3;
    }
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 60px;
      right: -70px;
      bottom: 5px;
      background: #2196f3;
    }
  }
  .content {
    margin-top: 50px;
    .sub_title {
      margin-left: 20px;
      font-size: 1.5em;
      color: #444;
    }
    svg {
      color: #1890ff;
    }
  }
  h5 {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  .col_avatar {
    padding: 10px;
    .avatar {
      display: flex;
      justify-content: center;
      img {
        border-radius: 50%;
      }
    }
  }
  h2 {
    font-size: 2em;
    font-weight: 600;
    font-family: emoji;
  }
  h5 {
    margin-bottom: 0;
    font-size: 1em;
  }
}
